{
    "openapi": "3.0.1",
    "info": {
        "title": "NetSuite REST Record API",
        "description": "NetSuite REST Record API generated 2020-02-27 at 15:25:54 UTC for account 5743578_SB1, user ryanwjackson@gmail.com with role LedgerSync.",
        "termsOfService": "http://www.netsuite.com/portal/resource/terms-of-service.shtml",
        "contact": {
            "name": "Oracle NetSuite",
            "url": "http://www.netsuite.com",
            "email": "info@netsuite.com"
        },
        "version": "v1"
    },
    "servers": [{
        "url": "https://5743578-sb1.suitetalk.api.netsuite.com/services/rest/record/v1"
    }],
    "security": [{
        "OAuth 1.0 authorization": []
    }],
    "paths": {
        "/customer": {
            "get": {
                "tags": ["Customer (Beta)"],
                "summary": "Get list of records.",
                "parameters": [{
                    "name": "q",
                    "in": "query",
                    "description": "Search query used to filter results",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The limit used to specify the number of results on a single page.",
                    "required": false,
                    "schema": {
                        "type": "integer",
                        "default": 1000
                    }
                }, {
                    "name": "offset",
                    "in": "query",
                    "description": "The offset used for selecting a specific page of results.",
                    "required": false,
                    "schema": {
                        "type": "integer",
                        "default": 0
                    }
                }],
                "responses": {
                    "200": {
                        "description": "List of records.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=collection": {
                                "schema": {
                                    "$ref": "#/components/schemas/customerCollection"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Insert record.",
                "parameters": [{
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Inserted record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}": {
            "get": {
                "tags": ["Customer (Beta)"],
                "summary": "Get record.",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }, {
                    "name": "expandSubResources",
                    "in": "query",
                    "description": "Set to \"true\" if you want to automatically expand all sublists, sublist lines and subrecords on this record. Default value is \"false\"",
                    "required": false,
                    "schema": {
                        "type": "boolean",
                        "default": false
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrived record.",
                        "headers": {
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/customer"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Customer (Beta)"],
                "summary": "Insert or update record.",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "externalId",
                    "required": true,
                    "schema": {
                        "pattern": "eid:([\\p{L}0-9_\\-]+)",
                        "type": "string"
                    }
                }, {
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Upserted record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Customer (Beta)"],
                "summary": "Remove record.",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "responses": {
                    "204": {
                        "description": "Removed record."
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["Customer (Beta)"],
                "summary": "Update record.",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }, {
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Updated record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/vendor": {
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Transform to vendor.",
                "parameters": [{
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "/services/rest/record/v1/metadata-catalog/vendor"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "/services/rest/record/v1/metadata-catalog/vendor"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/cashSale": {
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Transform to cashSale.",
                "parameters": [{
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "/services/rest/record/v1/metadata-catalog/cashSale"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "/services/rest/record/v1/metadata-catalog/cashSale"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/estimate": {
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Transform to estimate.",
                "parameters": [{
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "/services/rest/record/v1/metadata-catalog/estimate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "/services/rest/record/v1/metadata-catalog/estimate"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/opportunity": {
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Transform to opportunity.",
                "parameters": [{
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "/services/rest/record/v1/metadata-catalog/opportunity"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "/services/rest/record/v1/metadata-catalog/opportunity"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/customerPayment": {
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Transform to customerPayment.",
                "parameters": [{
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "/services/rest/record/v1/metadata-catalog/customerPayment"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "/services/rest/record/v1/metadata-catalog/customerPayment"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/invoice": {
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Transform to invoice.",
                "parameters": [{
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "/services/rest/record/v1/metadata-catalog/invoice"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "/services/rest/record/v1/metadata-catalog/invoice"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/salesOrder": {
            "post": {
                "tags": ["Customer (Beta)"],
                "summary": "Transform to salesOrder.",
                "parameters": [{
                    "name": "X-NetSuite-PropertyNameValidation",
                    "in": "header",
                    "description": "Sets strictness of property name validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Warning"
                    }
                }, {
                    "name": "X-NetSuite-PropertyValueValidation",
                    "in": "header",
                    "description": "Sets strictness of property value validation.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["Error",
                            "Warning",
                            "Ignore"
                        ],
                        "default": "Error"
                    }
                }, {
                    "name": "replace",
                    "in": "query",
                    "description": "Names of sublists on this record. All lines on these sublists will be replaced with lines from input. Sublists not specified here will have lines added to record. Names are delimited by comma.",
                    "required": false,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "multiple sublists": {
                            "value": "sublist1,subrecord.sublist2"
                        },
                        "sublist on subrecord": {
                            "value": "subrecord.sublist"
                        },
                        "single sublist": {
                            "value": "sublist"
                        }
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Internal identifier",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "/services/rest/record/v1/metadata-catalog/salesOrder"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "Description of property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warnings occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "/services/rest/record/v1/metadata-catalog/salesOrder"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "nsResourceCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/nsResource"
                        }
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    }
                }
            },
            "nsResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "title": "Internal Id",
                        "type": "string"
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string",
                        "readOnly": true
                    },
                    "externalId": {
                        "title": "External Id",
                        "type": "string"
                    },
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    }
                }
            },
            "customer-addressbook-addressbookaddress": {
                "type": "object",
                "properties": {
                    "zip": {
                        "title": "Zip",
                        "type": "string",
                        "nullable": true
                    },
                    "country": {
                        "title": "Country",
                        "type": "string",
                        "nullable": true,
                        "enum": ["PR",
                            "PS",
                            "PT",
                            "PW",
                            "PY",
                            "QA",
                            "AD",
                            "AE",
                            "AF",
                            "AG",
                            "AI",
                            "AL",
                            "AM",
                            "AN",
                            "AO",
                            "AQ",
                            "AR",
                            "AS",
                            "AT",
                            "RE",
                            "AU",
                            "AW",
                            "AX",
                            "AZ",
                            "RO",
                            "BA",
                            "BB",
                            "RS",
                            "BD",
                            "BE",
                            "RU",
                            "BF",
                            "BG",
                            "RW",
                            "BH",
                            "BI",
                            "BJ",
                            "BL",
                            "BM",
                            "BN",
                            "BO",
                            "SA",
                            "BQ",
                            "SB",
                            "BR",
                            "SC",
                            "BS",
                            "SD",
                            "BT",
                            "SE",
                            "BV",
                            "SG",
                            "SH",
                            "BW",
                            "SI",
                            "BY",
                            "SJ",
                            "BZ",
                            "SK",
                            "SL",
                            "SM",
                            "SN",
                            "SO",
                            "CA",
                            "SR",
                            "CC",
                            "SS",
                            "CD",
                            "ST",
                            "CF",
                            "SV",
                            "CG",
                            "CH",
                            "SX",
                            "CI",
                            "SY",
                            "SZ",
                            "CK",
                            "CL",
                            "CM",
                            "CN",
                            "CO",
                            "CR",
                            "TC",
                            "TD",
                            "CS",
                            "TF",
                            "CU",
                            "CV",
                            "TG",
                            "CW",
                            "TH",
                            "CX",
                            "CY",
                            "TJ",
                            "TK",
                            "CZ",
                            "TL",
                            "TM",
                            "TN",
                            "TO",
                            "TR",
                            "TT",
                            "DE",
                            "TV",
                            "TW",
                            "DJ",
                            "TZ",
                            "DK",
                            "DM",
                            "DO",
                            "UA",
                            "UG",
                            "DZ",
                            "UM",
                            "EA",
                            "US",
                            "EC",
                            "EE",
                            "EG",
                            "EH",
                            "UY",
                            "UZ",
                            "VA",
                            "ER",
                            "VC",
                            "ES",
                            "VE",
                            "ET",
                            "VG",
                            "VI",
                            "VN",
                            "VU",
                            "FI",
                            "FJ",
                            "FK",
                            "FM",
                            "FO",
                            "FR",
                            "WF",
                            "GA",
                            "GB",
                            "WS",
                            "GD",
                            "GE",
                            "GF",
                            "GG",
                            "GH",
                            "GI",
                            "GL",
                            "GM",
                            "GN",
                            "GP",
                            "GQ",
                            "GR",
                            "GS",
                            "GT",
                            "GU",
                            "GW",
                            "GY",
                            "XK",
                            "HK",
                            "HM",
                            "HN",
                            "HR",
                            "YE",
                            "HT",
                            "HU",
                            "IC",
                            "ID",
                            "YT",
                            "IE",
                            "IL",
                            "IM",
                            "IN",
                            "IO",
                            "ZA",
                            "IQ",
                            "IR",
                            "IS",
                            "IT",
                            "ZM",
                            "JE",
                            "ZW",
                            "JM",
                            "JO",
                            "JP",
                            "KE",
                            "KG",
                            "KH",
                            "KI",
                            "KM",
                            "KN",
                            "KP",
                            "KR",
                            "KW",
                            "KY",
                            "KZ",
                            "LA",
                            "LB",
                            "LC",
                            "LI",
                            "LK",
                            "LR",
                            "LS",
                            "LT",
                            "LU",
                            "LV",
                            "LY",
                            "MA",
                            "MC",
                            "MD",
                            "ME",
                            "MF",
                            "MG",
                            "MH",
                            "MK",
                            "ML",
                            "MM",
                            "MN",
                            "MO",
                            "MP",
                            "MQ",
                            "MR",
                            "MS",
                            "MT",
                            "MU",
                            "MV",
                            "MW",
                            "MX",
                            "MY",
                            "MZ",
                            "NA",
                            "NC",
                            "NE",
                            "NF",
                            "NG",
                            "NI",
                            "NL",
                            "NO",
                            "NP",
                            "NR",
                            "NU",
                            "NZ",
                            "OM",
                            "PA",
                            "PE",
                            "PF",
                            "PG",
                            "PH",
                            "PK",
                            "PL",
                            "PM",
                            "PN"
                        ]
                    },
                    "addr2": {
                        "title": "Address 2",
                        "type": "string",
                        "nullable": true
                    },
                    "city": {
                        "title": "City",
                        "type": "string",
                        "nullable": true
                    },
                    "addr1": {
                        "title": "Address 1",
                        "type": "string",
                        "nullable": true
                    },
                    "addr3": {
                        "title": "Address 3",
                        "type": "string",
                        "nullable": true
                    },
                    "externalId": {
                        "title": "ExternalId",
                        "type": "string",
                        "nullable": true
                    },
                    "addrPhone": {
                        "title": "Phone",
                        "type": "string",
                        "nullable": true
                    },
                    "addressformat": {
                        "title": "Address Template",
                        "type": "string",
                        "nullable": true
                    },
                    "addressee": {
                        "title": "Addressee",
                        "type": "string",
                        "nullable": true
                    },
                    "customForm": {
                        "title": "Custom Form",
                        "type": "string",
                        "nullable": true,
                        "enum": ["-10916",
                            "-10915",
                            "-10914",
                            "-10230",
                            "-893",
                            "-892",
                            "-410",
                            "-891",
                            "-770",
                            "-10110",
                            "-10912",
                            "10",
                            "-10910",
                            "11",
                            "12",
                            "13",
                            "14",
                            "-10925",
                            "15",
                            "16",
                            "17",
                            "18",
                            "19",
                            "-10120",
                            "-10240",
                            "2",
                            "3",
                            "-300",
                            "4",
                            "-10003",
                            "5",
                            "-10002",
                            "6",
                            "7",
                            "-780",
                            "8",
                            "-10007",
                            "9",
                            "-10006",
                            "-10005",
                            "-10004",
                            "20",
                            "21",
                            "-10800",
                            "-10008",
                            "22",
                            "23",
                            "24",
                            "25",
                            "26",
                            "27",
                            "28",
                            "29",
                            "-10010",
                            "-10130",
                            "-10250",
                            "-790",
                            "-10011",
                            "-10810",
                            "-435",
                            "30",
                            "-434",
                            "31",
                            "32",
                            "33",
                            "34",
                            "-10021",
                            "-200",
                            "-10020",
                            "-10140",
                            "-201",
                            "-10821",
                            "-10700",
                            "-10820",
                            "-1005",
                            "-1004",
                            "-1007",
                            "-1006",
                            "-1009",
                            "-1008",
                            "-211",
                            "-10790",
                            "-210",
                            "-10435",
                            "-10434",
                            "-1001",
                            "-1000",
                            "-1003",
                            "-1002",
                            "-1016",
                            "-1015",
                            "-1018",
                            "-1017",
                            "-1019",
                            "-101",
                            "-221",
                            "-100",
                            "-102",
                            "-10201",
                            "-10200",
                            "-220",
                            "-900",
                            "-1010",
                            "-1012",
                            "-1011",
                            "-1014",
                            "-1013",
                            "-1027",
                            "-1026",
                            "-916",
                            "-10211",
                            "-10210",
                            "-110",
                            "-230",
                            "-912",
                            "-1021",
                            "-914",
                            "-1020",
                            "-1023",
                            "-1022",
                            "-1025",
                            "-910",
                            "-1024",
                            "-10102",
                            "-240",
                            "-10101",
                            "-10221",
                            "-10100",
                            "-10220",
                            "-120",
                            "-10104",
                            "-10103",
                            "-800",
                            "-22502",
                            "-22503",
                            "-10",
                            "-11",
                            "-22504",
                            "-10872",
                            "-130",
                            "-10871",
                            "-10750",
                            "-250",
                            "-10870",
                            "-10873",
                            "-810",
                            "-150",
                            "-20",
                            "-21",
                            "-22",
                            "-10882",
                            "-140",
                            "-10881",
                            "-10760",
                            "-10880",
                            "-10400",
                            "-700",
                            "-161",
                            "-160",
                            "-950",
                            "-10410",
                            "-10893",
                            "-10892",
                            "-10891",
                            "-10770",
                            "-834",
                            "-10411",
                            "-952",
                            "-831",
                            "-830",
                            "-833",
                            "-832",
                            "-22513",
                            "-170",
                            "-22514",
                            "-40",
                            "-22511",
                            "-41",
                            "-22512",
                            "-22515",
                            "-22516",
                            "-10780",
                            "-840",
                            "-10300",
                            "-600",
                            "-962",
                            "-720",
                            "-10959",
                            "-10958",
                            "-50",
                            "-51",
                            "-52",
                            "-10160",
                            "-851",
                            "-730",
                            "-10150",
                            "-850",
                            "-11003",
                            "-10953",
                            "-10832",
                            "-10952",
                            "-10831",
                            "-10951",
                            "-10830",
                            "-10950",
                            "-10957",
                            "-10956",
                            "-852",
                            "-10955",
                            "-10834",
                            "-10954",
                            "-10833",
                            "-2",
                            "-3",
                            "-4",
                            "-5",
                            "-6",
                            "-7",
                            "-8",
                            "-10050",
                            "-10170",
                            "-860",
                            "-10041",
                            "-862",
                            "-10161",
                            "-10040",
                            "-861",
                            "-740",
                            "-10960",
                            "-10964",
                            "-10600",
                            "-867",
                            "-10962",
                            "-10720",
                            "-10961",
                            "-10840",
                            "-864",
                            "-863",
                            "-500",
                            "-10966",
                            "-866",
                            "-10965",
                            "-865",
                            "-10060",
                            "-871",
                            "-750",
                            "-10052",
                            "-873",
                            "-10051",
                            "-872",
                            "-10850",
                            "-10852",
                            "-10851",
                            "-10730",
                            "-10507",
                            "-882",
                            "-881",
                            "-760",
                            "-400",
                            "-10861",
                            "-10740",
                            "-10860",
                            "-880",
                            "-10865",
                            "-10502",
                            "-10864",
                            "-10501",
                            "-10863",
                            "-10500",
                            "-10862",
                            "-10506",
                            "-10505",
                            "-10867",
                            "-10504",
                            "-10866",
                            "-10503"
                        ]
                    },
                    "attention": {
                        "title": "Attention",
                        "type": "string",
                        "nullable": true
                    },
                    "override": {
                        "title": "Override",
                        "type": "boolean"
                    },
                    "state": {
                        "title": "State/Province",
                        "type": "string",
                        "nullable": true
                    },
                    "id": {
                        "title": "Internal ID",
                        "type": "string",
                        "nullable": true
                    },
                    "addrText": {
                        "title": "Address",
                        "type": "string",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string",
                        "readOnly": true
                    },
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-filterable": [],
                "x-ns-support-level": "beta"
            },
            "nsError": {
                "type": "object",
                "properties": {
                    "type": {
                        "title": "Type",
                        "type": "string",
                        "readOnly": true
                    },
                    "title": {
                        "title": "Title",
                        "type": "string",
                        "readOnly": true
                    },
                    "status": {
                        "title": "Status",
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "o:errorCode": {
                        "title": "Error code",
                        "type": "string",
                        "readOnly": true
                    },
                    "detail": {
                        "title": "Detail",
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "customer-currencyListCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-currencyListElement"
                        }
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-support-level": "beta"
            },
            "nsLink": {
                "type": "object",
                "properties": {
                    "rel": {
                        "title": "Relationship",
                        "type": "string",
                        "readOnly": true
                    },
                    "href": {
                        "title": "Hypertext Reference",
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "customer-creditCardsElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "internalId": {
                        "title": "ID",
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "ccExpireDate": {
                        "title": "Expiration Date",
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "customerCode": {
                        "title": "Customer Code",
                        "type": "string",
                        "nullable": true
                    },
                    "ccName": {
                        "title": "Cardholder Name",
                        "type": "string",
                        "nullable": true
                    },
                    "ccDefault": {
                        "title": "Default Credit Card",
                        "type": "boolean"
                    },
                    "ccMemo": {
                        "title": "Memo",
                        "type": "string",
                        "nullable": true
                    },
                    "stateFrom": {
                        "title": "State From",
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "cardState": {
                        "title": "Card State",
                        "type": "string",
                        "nullable": true,
                        "enum": ["1",
                            "2",
                            "3",
                            "4"
                        ]
                    },
                    "ccNumber": {
                        "title": "Credit Card Number",
                        "type": "string",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string",
                        "readOnly": true
                    },
                    "paymentMethod": {
                        "$ref": "#/components/schemas/nsResource"
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-filterable": [],
                "x-ns-support-level": "beta"
            },
            "customer-addressbookElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "internalId": {
                        "title": "Internal ID",
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "defaultBilling": {
                        "title": "Default Billing",
                        "type": "boolean"
                    },
                    "defaultShipping": {
                        "title": "Default Shipping",
                        "type": "boolean"
                    },
                    "isResidential": {
                        "title": "Residential Address",
                        "type": "boolean"
                    },
                    "label": {
                        "title": "Label",
                        "type": "string",
                        "nullable": true
                    },
                    "id": {
                        "type": "string",
                        "nullable": true
                    },
                    "addressId": {
                        "type": "string",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string",
                        "readOnly": true
                    },
                    "addressbookaddress": {
                        "$ref": "#/components/schemas/customer-addressbook-addressbookaddress"
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-filterable": [],
                "x-ns-support-level": "beta"
            },
            "customer-grouppricingCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-grouppricingElement"
                        }
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-support-level": "beta"
            },
            "customer-addressbookCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-addressbookElement"
                        }
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-support-level": "beta"
            },
            "customer-itempricingElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "price": {
                        "title": "Unit Price",
                        "type": "number",
                        "format": "double",
                        "nullable": true
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string",
                        "readOnly": true
                    },
                    "currency": {
                        "$ref": "#/components/schemas/nsResource"
                    },
                    "item": {
                        "oneOf": [{
                            "$ref": "#/components/schemas/nsResource"
                        }]
                    },
                    "level": {
                        "$ref": "#/components/schemas/nsResource"
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-filterable": [],
                "x-ns-support-level": "beta"
            },
            "customer-itempricingCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-itempricingElement"
                        }
                    }
                },
                "description": "This record is available as a beta record.",
                "x-ns-support-level": "beta"
            },
            "customer": {
                "type": "object",
                "properties": {
                    "emailTransactions": {
                        "title": "Email Transactions",
                        "type": "boolean"
                    },
                    "startDate": {
                        "title": "Start Date",
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "thirdPartyCountry": {
                        "title": "3rd Party Billing Country",
                        "type": "string",
                        "nullable": true,
                        "enum": ["PR",
                            "PS",
                            "PT",
                            "PW",
                            "PY",
                            "QA",
                            "AD",
                            "AE",
                            "AF",
                            "AG",
                            "AI",
                            "AL",
                            "AM",
                            "AN",
                            "AO",
                            "AQ",
                            "AR",
                            "AS",
                            "AT",
                            "RE",
                            "AU",
                            "AW",
                            "AX",
                            "AZ",
                            "RO",
                            "BA",
                            "BB",
                            "RS",
                            "BD",
                            "BE",
                            "RU",
                            "BF",
                            "BG",
                            "RW",
                            "BH",
                            "BI",
                            "BJ",
                            "BL",
                            "BM",
                            "BN",
                            "BO",
                            "SA",
                            "BQ",
                            "SB",
                            "BR",
                            "SC",
                            "BS",
                            "SD",
                            "BT",
                            "SE",
                            "BV",
                            "SG",
                            "SH",
                            "BW",
                            "SI",
                            "BY",
                            "SJ",
                            "BZ",
                            "SK",
                            "SL",
                            "SM",
                            "SN",
                            "SO",
                            "CA",
                            "SR",
                            "CC",
                            "SS",
                            "CD",
                            "ST",
                            "CF",
                            "SV",
                            "CG",
                            "CH",
                            "SX",
                            "CI",
                            "SY",
                            "SZ",
                            "CK",
                            "CL",
                            "CM",
                            "CN",
                            "CO",
                            "CR",
                            "TC",
                            "TD",
                            "CS",
                            "TF",
                            "CU",
                            "CV",
                            "TG",
                            "CW",
                            "TH",
                            "CX",
                            "CY",
                            "TJ",
                            "TK",
                            "CZ",
                            "TL",
                            "TM",
                            "TN",
                            "TO",
                            "TR",
                            "TT",
                            "DE",
                            "TV",
                            "TW",
                            "DJ",
                            "TZ",
                            "DK",
                            "DM",
                            "DO",
                            "UA",
                            "UG",
                            "DZ",
                            "UM",
                            "EA",
                            "US",
                            "EC",
                            "EE",
                            "EG",
                            "EH",
                            "UY",
                            "UZ",
                            "VA",
                            "ER",
                            "VC",
                            "ES",
                            "VE",
                            "ET",
                            "VG",
                            "VI",
                            "VN",
                            "VU",
                            "FI",
                            "FJ",
                            "FK",
                            "FM",
                            "FO",
                            "FR",
                            "WF",
                            "GA",
                            "GB",
                            "WS",
                            "GD",
                            "GE",
                            "GF",
                            "GG",
                            "GH",
                            "GI",
                            "GL",
                            "GM",
                            "GN",
                            "GP",
                            "GQ",
                            "GR",
                            "GS",
                            "GT",
                            "GU",
                            "GW",
                            "GY",
                            "XK",
                            "HK",
                            "HM",
                            "HN",
                            "HR",
                            "YE",
                            "HT",
                            "HU",
                            "IC",
                            "ID",
                            "YT",
                            "IE",
                            "IL",
                            "IM",
                            "IN",
                            "IO",
                            "ZA",
                            "IQ",
                            "IR",
                            "IS",
                            "IT",
                            "ZM",
                            "JE",
                            "ZW",
                            "JM",
                            "JO",
                            "JP",
                            "KE",
                            "KG",
                            "KH",
                            "KI",
                            "KM",
                            "KN",
                            "KP",
                            "KR",
                            "KW",
                            "KY",
                            "KZ",
                            "LA",
                            "LB",
                            "LC",
                            "LI",
                            "LK",
                            "LR",
                            "LS",
                            "LT",
                            "LU",
                            "LV",
                            "LY",
                            "MA",
                            "MC",
                            "MD",
                            "ME",
                            "MF",
                            "MG",
                            "MH",
                            "MK",
                            "ML",
                            "MM",
                            "MN",
                            "MO",
                            "MP",
                            "MQ",
                            "MR",
                            "MS",
                            "MT",
                            "MU",
                            "MV",
                            "MW",
                            "MX",
                            "MY",
[...]
