/**
 * Animations
 */
@-webkit-keyframes fadeIn20 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes fadeIn20 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
