/**
 * Post Navigation
 */
.pagination {
  margin: 1.875em 0 5em;
  text-align: center;
}

.newer-posts,
.older-posts {
  border: 0;
  display: inline-block;
  margin: 0 0.9375em 0.9375em;
}

.newer-posts {
  &:before {
    font-size: 1.125em;
    content: "\2190";
    line-height: 1.5;
    margin-right: 5px;
  }
}

.older-posts {
  &:after {
    font-size: 1.125em;
    content: "\2192";
    line-height: 1.5;
    margin-left: 5px;
  }
}

.read-next {
  background: #fff;
  border: 1px solid _palette(border);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  margin: 1.875em 0 5em;
  padding: 1.875em 0 2.5em;
}

.read-next-title {
  font-size: 1.125em;
  margin: 0 0 1.875rem;
  padding: 0 7%;
}

.read-next {
  .post {
    margin-bottom: 1.875em;
    padding: 0 7%;
  }

  .post-title {
    font-size: 1.5rem;
    margin: 0;
  }
}

@media only screen and (max-width: 640px) {
  .read-next-title,
  .read-next-post {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}