---
http_interactions:
- request:
    method: post
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
    body:
      encoding: UTF-8
      string: client_id=Q0kCeGlRauoCpUFqc0TE8MgT3r2WKyPUsZ3itTOR0XCwILj9Cj&client_secret=dbV3ERTy2HHtAjWhKzUkZpE4Skr1yzgQaCZj6HEL&code=THIS_IS_THE_OAUTH_CODE&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 466394e8-bbee-4ed2-a564-27bdd330833e
    body:
      encoding: UTF-8
      string: '{"x_refresh_token_expires_in":8726400,"refresh_token":"AB11586075421tYsUWQxVjgNyOyYaNWELDw6Pu7rPMGBPEOV0l","access_token":"eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..RE9Aktr9HDLGm49av_5UCQ.W_wmVTYE66yyKGFS8j9AGlHPcSQ5VuVJXX_vNzuXsHD2j8Lopz88U7N0CJI_u4LVaGT4cmaXqbfku9dF_6vNG4fDiJnLiXDKwtVaT3ovdLsGmuhz7wnp1UY4QajcsU_XR00H331hlobJsgkoitHZ5l-QjZwb8njcS78nBmZnyyuiXltlIFqlcQict2unyczjh4xlCtr2Fii9SAwPeEK2ikgddo1RAhX1XT5wuM7lOP6SDTb62ognN4WefBMTDQTVnwfjS6NLZ7gMJOB6XhS1fKxJqr5S1dy-eE2t471WvsABnV8i_bAsc412aa3ubcA-tNRmBTaag9nmnlEbT3q04wLKU81zpixouuejS6tgW0Gscxcil8ViFm9Yf9_A2Q1kiaINMZ1EVI1U_v6faPgeiZKn_43OpS-degoU_XHHLGygzydXNZq7RO_e-nJS3Kf8R4YAr-LJRPHcNw-5hdqW6MyVPwIrSmLtgTPvdxcttWc4Omdnuyy8Koc7qD5OYdo8ZycHqivkw_k3gLdukGpNbZ6RaryEi1dTLWVdkUIco-aLH7G396EwwzHy9PLP5u3O1pPJTIbhXRUUiCLcWP5cSmJ8WasZ2ARXMo6SiNEkj12WNj4TwHqWNATOM8uHH3_wrOFDim3T7OcEvzJyI7o30kM9gCmiSwfPGlg6FBZeQZciWHL1tsvtPwl-ev079iLB.otHlV50JQ_IKQNHfeSJUjA","token_type":"bearer","expires_in":3600}'
  recorded_at: Thu, 26 Dec 2019 08:30:21 GMT
recorded_with: VCR 5.0.0
