---
---

// Font.
$font: (
  primary: ("Lato", Helvetica, Arial, sans-serif),
  monospace: (Monaco, courier, monospace)
);

// Palette.
{% assign palette = site.palettes[site.palette].sass %}
$palette: (
  danger:            #fc381d,
  primary:           #424b5f,
  secondary:         #283040,
  meta:              #67758d,
  border:            #dee5ef,
  bg:                #f7f9fb,
  note:              #fcb41d,
  warning:           #fcb41d,
  success:           #12db5d,
  important:         #fc381d,
  info:              #1E90FF,
  accent:            {{ palette.accent1 }},
  accent-alt:        {{ palette.accent2 }},
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/guides";
@import "imports/sections";
@import "imports/footer";
@import "imports/prism";
@import "monokai.css"