{{ define "main" }}
<div class="page">
  <div id="preview-page" class="preview-page" data-autorefresh-url="">



    <div role="main" class="main-content">
      <div class="container new-discussion-timeline experiment-repo-nav">
        <div class="repository-content">
          <div id="readme" class="readme boxed-group clearfix announce instapaper_body md">

            <h3>
              <span class="octicon octicon-book"></span> README.md
            </h3>

            <article class="markdown-body entry-content" itemprop="text" id="grip-content">
              <h1>
                <a id="user-content-ledgersync" class="anchor" href="#ledgersync" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>LedgerSync</h1>
              <h2>
                <a id="user-content-installation" class="anchor" href="#installation" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Installation</h2>
              <p>Add this line to your application's Gemfile:</p>
              <div class="highlight highlight-source-ruby"><pre>gem <span class="pl-s"><span class="pl-pds">'</span>ledger_sync<span class="pl-pds">'</span></span></pre></div>
              <p>And then execute:</p>
              <pre><code>$ bundle
</code></pre>
              <p>Or install it yourself as:</p>
              <pre><code>$ gem install ledger_sync
</code></pre>
              <h2>
                <a id="user-content-usage" class="anchor" href="#usage" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usage</h2>
              <p>To use LedgerSync, you must create an <code>Operation</code>. The operation will be ledger-specific and will require the following:</p>
              <ol>
                <li>Adaptor</li>
                <li>Resource(s)</li>
              </ol>
              <p>The code may look like the following:</p>
              <div class="highlight highlight-source-ruby"><pre><span class="pl-c"><span class="pl-c">#</span> First we create an adaptor, which is our connection to a ledger.</span>
<span class="pl-c"><span class="pl-c">#</span> Each ledger may require different keys, so check the</span>
<span class="pl-c"><span class="pl-c">#</span> documentation below for specifics.</span>
adaptor <span class="pl-k">=</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Adaptors</span>::<span class="pl-c1">QuickBooksOnline</span>::<span class="pl-c1">Adaptor</span>.<span class="pl-k">new</span>(
<span class="pl-c1">access_token:</span> access_token, <span class="pl-c"><span class="pl-c">#</span> assuming this is defined</span>
<span class="pl-c1">client_id:</span> <span class="pl-c1">ENV</span>[<span class="pl-s"><span class="pl-pds">'</span>QUICKBOOKS_ONLINE_CLIENT_ID<span class="pl-pds">'</span></span>],
<span class="pl-c1">client_secret:</span> <span class="pl-c1">ENV</span>[<span class="pl-s"><span class="pl-pds">'</span>QUICKBOOKS_ONLINE_CLIENT_SECRET<span class="pl-pds">'</span></span>],
<span class="pl-c1">realm_id:</span> <span class="pl-c1">ENV</span>[<span class="pl-s"><span class="pl-pds">'</span>QUICKBOOKS_ONLINE_REALM_ID<span class="pl-pds">'</span></span>],
<span class="pl-c1">refresh_token:</span> refresh_token, <span class="pl-c"><span class="pl-c">#</span> assuming this is defined</span>
)

<span class="pl-c"><span class="pl-c">#</span> Create a resource on which to operate.  Some resources have</span>
<span class="pl-c"><span class="pl-c">#</span> relationships with other resources.  You can use</span>
<span class="pl-c"><span class="pl-c">#</span> `Util::ResourcesBuilder` to create resources and relationships from</span>
<span class="pl-c"><span class="pl-c">#</span> a structured hash.</span>
resource <span class="pl-k">=</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>(
<span class="pl-c1">name:</span> <span class="pl-s"><span class="pl-pds">'</span>Sample Customer<span class="pl-pds">'</span></span>,
<span class="pl-c1">email:</span> <span class="pl-s"><span class="pl-pds">'</span>test@example.com<span class="pl-pds">'</span></span>
)

<span class="pl-c"><span class="pl-c">#</span> Create the operation we want to perform.</span>
operation <span class="pl-k">=</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Adaptors</span>::<span class="pl-c1">QuickBooksOnline</span>::<span class="pl-c1">Customer</span>::<span class="pl-c1">Operations</span>::<span class="pl-c1">Create</span>.<span class="pl-k">new</span>(
<span class="pl-c1">adaptor:</span> adaptor,
<span class="pl-c1">resource:</span> resource
)

result <span class="pl-k">=</span> operation.perform <span class="pl-c"><span class="pl-c">#</span> Returns a LedgerSync::OperationResult</span>

<span class="pl-k">if</span> result.success?
resource <span class="pl-k">=</span> result.operation.resource
<span class="pl-c"><span class="pl-c">#</span> Do something with resource</span>
<span class="pl-k">else</span> <span class="pl-c"><span class="pl-c">#</span> result.failure?</span>
<span class="pl-k">raise</span> result.error
<span class="pl-k">end</span>

<span class="pl-c"><span class="pl-c">#</span> Because QuickBooks Online uses Oauth 2, you must always be sure to</span>
<span class="pl-c"><span class="pl-c">#</span> save the access_token, refresh_token, and expirations as they can</span>
<span class="pl-c"><span class="pl-c">#</span> change with any API call.</span>
result.operation.adaptor.ledger_attributes_to_save.each <span class="pl-k">do</span> |<span class="pl-smi">key</span>, <span class="pl-smi">value</span>|
<span class="pl-c"><span class="pl-c">#</span> save values</span>
<span class="pl-k">end</span></pre></div>
              <h2>
                <a id="user-content-how-it-works" class="anchor" href="#how-it-works" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>How it Works</h2>
              <h3>
                <a id="user-content-the-library-structure" class="anchor" href="#the-library-structure" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>The Library Structure</h3>
              <p>This library consists of two important layers:</p>
              <ol>
                <li>Resources</li>
                <li>Adaptors</li>
              </ol>
              <h4>
                <a id="user-content-resources" class="anchor" href="#resources" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Resources</h4>
              <p>Resources are named ruby objects (e.g. <code>Customer</code>, <code>Payment</code>, etc.) with strict attributes (e.g. <code>name</code>, <code>amount</code>, etc.). They are a layer between your application and an adaptor. They can be validated
                using an adaptor. You can create and use the resources, and an adaptor will update resources as needed based on the intention and outcome of that operation.</p>
              <p>You can find supported resources by calling <code>LedgerSync.resources</code>.</p>
              <p>Resources have defined attributes. Attributes are explicitly defined. An error is thrown if an unknown attribute is passed to it. You can retrieve the attributes of a resource by calling <code>LedgerSync::Customer.attributes</code>.</p>
              <p>A subset of these <code>attributes</code> may be a <code>reference</code>, which is simply a special type of attribute that references another resource. You can retrieve the references of a resource by calling <code>LedgerSync::Customer.references</code>.</p>
              <h3>
                <a id="user-content-adaptors" class="anchor" href="#adaptors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Adaptors</h3>
              <p>Adaptors are ledger-specific ruby objects that contain all the logic to authenticate to a ledger, perform ledger-specific operations, and validate resources based on the requirements of the ledger. Adaptors contain a number of useful objects:</p>
              <ul>
                <li>adaptor</li>
                <li>operations</li>
                <li>searchers</li>
              </ul>
              <h4>
                <a id="user-content-adaptor" class="anchor" href="#adaptor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Adaptor</h4>
              <p>The adaptor handles authentication and requests to the ledger. Each adaptors initializer will vary based on the needs of that ledger.</p>
              <h4>
                <a id="user-content-operation" class="anchor" href="#operation" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Operation</h4>
              <p>Each adaptor defines operations that can be performed on specific resources (e.g. <code>Customer::Operations::Update</code>, <code>Payment::Operations::Create</code>). The operation defines two key things:</p>
              <ul>
                <li>a <code>Contract</code> class which is used to validate the resource using the <code>dry-validation</code> gem</li>
                <li>a <code>perform</code> instance method, which handles the actual API requests and response/error handling.</li>
              </ul>
              <p>Note: Adaptors may support different operations for each resource type.</p>
              <h4>
                <a id="user-content-searcher" class="anchor" href="#searcher" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Searcher</h4>
              <p>Searchers are used to search objects in the ledger. A searcher takes an <code>adaptor</code>, <code>query</code> string and optional <code>pagination</code> hash. For example, to search customer's by name:</p>
              <div class="highlight highlight-source-ruby"><pre>searcher <span class="pl-k">=</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Adaptors</span>::<span class="pl-c1">QuickBooksOnline</span>::<span class="pl-c1">Customer</span>::<span class="pl-c1">Searcher</span>.<span class="pl-k">new</span>(
<span class="pl-c1">adaptor:</span> adaptor <span class="pl-c"><span class="pl-c">#</span> assuming this is defined,</span>
<span class="pl-c1">query:</span> <span class="pl-s"><span class="pl-pds">'</span>test<span class="pl-pds">'</span></span>
)

result <span class="pl-k">=</span> searcher.search <span class="pl-c"><span class="pl-c">#</span> returns a LedgerSync::SearchResult</span>

<span class="pl-k">if</span> result.success?
resources <span class="pl-k">=</span> result.resources
<span class="pl-c"><span class="pl-c">#</span> Do something with found resources</span>
<span class="pl-k">else</span> <span class="pl-c"><span class="pl-c">#</span> result.failure?</span>
<span class="pl-k">raise</span> result.error
<span class="pl-k">end</span>

<span class="pl-c"><span class="pl-c">#</span> Different ledgers may use different pagination strategies.  In order</span>
<span class="pl-c"><span class="pl-c">#</span> to get the next and previous set of results, you can use the following:</span>
next_searcher <span class="pl-k">=</span> searcher.next_searcher
previous_searcher <span class="pl-k">=</span> searcher.previous_searcher</pre></div>
              <h2>
                <a id="user-content-quickbooks-online" class="anchor" href="#quickbooks-online" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>QuickBooks Online</h2>
              <h3>
                <a id="user-content-webhooks" class="anchor" href="#webhooks" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Webhooks</h3>
              <p>Reference: <a href="https://developer.intuit.com/app/developer/qbo/docs/develop/webhooks/managing-webhooks-notifications#validating-the-notification" rel="nofollow">https://developer.intuit.com/app/developer/qbo/docs/develop/webhooks/managing-webhooks-notifications#validating-the-notification</a></p>
              <p>LedgerSync offers an easy way to validate and parse webhook payloads. It also allows you to easily fetch the resources referenced. You can create and use a webhook with the following:</p>
              <div class="highlight highlight-source-ruby"><pre><span class="pl-c"><span class="pl-c">#</span> Assuming `request` is the webhook request received from Quickbooks Online</span>
webhook <span class="pl-k">=</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Adaptors</span>::<span class="pl-c1">QuickBooksOnline</span>::<span class="pl-c1">Webhook</span>.<span class="pl-k">new</span>(
<span class="pl-c1">payload:</span> request.body.read <span class="pl-c"><span class="pl-c">#</span> It accepts a JSON string or hash</span>
)

verification_token <span class="pl-k">=</span> <span class="pl-c1">WEBHOOK_VERIFICATION_TOKEN</span> <span class="pl-c"><span class="pl-c">#</span> You get this token when you create webhooks in the QuickBooks Online dashboard</span>
signature <span class="pl-k">=</span> request.headers[<span class="pl-s"><span class="pl-pds">'</span>intuit-signature<span class="pl-pds">'</span></span>]
<span class="pl-k">raise</span> <span class="pl-s"><span class="pl-pds">'</span>Not valid<span class="pl-pds">'</span></span> <span class="pl-k">unless</span> webhook.valid?(<span class="pl-c1">signature:</span> signature, <span class="pl-c1">verification_token:</span> verification_token)

<span class="pl-c"><span class="pl-c">#</span> Although not yet used, webhooks may include notifications for multiple realms</span>
webhook.notifications.each <span class="pl-k">do</span> |<span class="pl-smi">notification</span>|
<span class="pl-c1">puts</span> notification.realm_id

<span class="pl-c"><span class="pl-c">#</span> Multiple events may be referenced.</span>
notification.events.each <span class="pl-k">do</span> |<span class="pl-smi">event</span>|
  <span class="pl-c1">puts</span> event.resource <span class="pl-c"><span class="pl-c">#</span> Returns a LedgerSync resource with the `ledger_id` set</span>

  <span class="pl-c"><span class="pl-c">#</span> Other helpful methods</span>
  notification.find_operation_class(<span class="pl-c1">adaptor:</span> your_quickbooks_adaptor_instance) <span class="pl-c"><span class="pl-c">#</span> The respective Find class</span>
  notification.find_operation(<span class="pl-c1">adaptor:</span> your_quickbooks_adaptor_instance) <span class="pl-c"><span class="pl-c">#</span> The initialized respective Find operation</span>
  notification.find(<span class="pl-c1">adaptor:</span> your_quickbooks_adaptor_instance) <span class="pl-c"><span class="pl-c">#</span> Performs a Find operation for the resource retrieving the latest version from QuickBooks Online</span>
<span class="pl-k">end</span>

<span class="pl-c"><span class="pl-c">#</span> Other helpful methods</span>
notification.resources <span class="pl-c"><span class="pl-c">#</span> All resources for a given webhook across all events</span>
<span class="pl-k">end</span>

<span class="pl-c"><span class="pl-c">#</span> Other helpful methods</span>
webhook.events <span class="pl-c"><span class="pl-c">#</span> All events for a given webhook across all realms</span>
webhook.resources <span class="pl-c"><span class="pl-c">#</span> All events for a given webhook across all realms and events</span></pre></div>
              <h3>
                <a id="user-content-errors" class="anchor" href="#errors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Errors</h3>
              <p><a href="https://developer.intuit.com/app/developer/qbo/docs/develop/troubleshooting/error-codes" rel="nofollow">https://developer.intuit.com/app/developer/qbo/docs/develop/troubleshooting/error-codes</a></p>
              <h2>
                <a id="user-content-tips-and-more" class="anchor" href="#tips-and-more" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Tips and More!</h2>
              <h3>
                <a id="user-content-keyword-arguments" class="anchor" href="#keyword-arguments" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Keyword Arguments</h3>
              <p>LedgerSync heavily uses ruby keyword arguments so as to make it clear what values are being passed and which attributes are required. When this README says something like "the <code>fun_function</code> function takes the argument <code>foo</code>"
                that translates to <code>fun_function(foo: :some_value)</code>.</p>
              <h3>
                <a id="user-content-fingerprints" class="anchor" href="#fingerprints" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Fingerprints</h3>
              <p>Most objects in LedgerSync can be fingerprinted by calling the instance method <code>fingerprint</code>. For example:</p>
              <div class="highlight highlight-source-ruby"><pre><span class="pl-c1">puts</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>.fingerprint <span class="pl-c"><span class="pl-c">#</span> "b3eab7ec00431a4ae0468fee72e5ba8f"</span>

<span class="pl-c1">puts</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>.fingerprint <span class="pl-k">==</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>.fingerprint <span class="pl-c"><span class="pl-c">#</span> true</span>
<span class="pl-c1">puts</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>.fingerprint <span class="pl-k">==</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>(<span class="pl-c1">name:</span> <span class="pl-c1">:foo</span>).fingerprint <span class="pl-c"><span class="pl-c">#</span> false</span>
<span class="pl-c1">puts</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>.fingerprint <span class="pl-k">==</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Payment</span>.<span class="pl-k">new</span>.fingerprint <span class="pl-c"><span class="pl-c">#</span> false</span></pre></div>
              <p>Fingerprints are used to compare objects. This method is used in de-duping objects, as it only considers the data inside and not the instance itself (as shown above).</p>
              <h3>
                <a id="user-content-serialization" class="anchor" href="#serialization" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Serialization</h3>
              <p>Most objects in LedgerSync can be serialized by calling the instance method <code>serialize</code>. For example:</p>
              <div class="highlight highlight-source-ruby"><pre><span class="pl-c1">puts</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Payment</span>.<span class="pl-k">new</span>(
<span class="pl-c1">customer:</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>
)

{
<span class="pl-c1">root:</span> <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Payment/8eed81c0177801a001f2544f0c85e21d<span class="pl-pds">"</span></span>,
<span class="pl-c1">objects:</span> {
  <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Payment/8eed81c0177801a001f2544f0c85e21d<span class="pl-pds">"</span></span>: {
    <span class="pl-c1">id:</span> <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Payment/8eed81c0177801a001f2544f0c85e21d<span class="pl-pds">"</span></span>,
    <span class="pl-c1">object:</span> <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Payment<span class="pl-pds">"</span></span>,
    <span class="pl-c1">fingeprint:</span> <span class="pl-s"><span class="pl-pds">"</span>8eed81c0177801a001f2544f0c85e21d<span class="pl-pds">"</span></span>,
    <span class="pl-c1">data:</span> {
      <span class="pl-c1">currency:</span> <span class="pl-c1">nil</span>,
      <span class="pl-c1">amount:</span> <span class="pl-c1">nil</span>,
      <span class="pl-c1">customer:</span> {
        <span class="pl-c1">object:</span> <span class="pl-s"><span class="pl-pds">"</span>reference<span class="pl-pds">"</span></span>,
        <span class="pl-c1">id:</span> <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Customer/b3eab7ec00431a4ae0468fee72e5ba8f<span class="pl-pds">"</span></span>
      },
      <span class="pl-c1">external_id:</span> <span class="pl-s"><span class="pl-pds">"</span><span class="pl-pds">"</span></span>,
      <span class="pl-c1">ledger_id:</span> <span class="pl-c1">nil</span>,

    }
  },
  <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Customer/b3eab7ec00431a4ae0468fee72e5ba8f<span class="pl-pds">"</span></span>: {
    <span class="pl-c1">id:</span> <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Customer/b3eab7ec00431a4ae0468fee72e5ba8f<span class="pl-pds">"</span></span>,
    <span class="pl-c1">object:</span> <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Customer<span class="pl-pds">"</span></span>,
    <span class="pl-c1">fingeprint:</span> <span class="pl-s"><span class="pl-pds">"</span>b3eab7ec00431a4ae0468fee72e5ba8f<span class="pl-pds">"</span></span>,
    <span class="pl-c1">data:</span> {
      <span class="pl-c1">name:</span> <span class="pl-c1">nil</span>,
      <span class="pl-c1">email:</span> <span class="pl-c1">nil</span>,
      <span class="pl-c1">phone_number:</span> <span class="pl-c1">nil</span>,
      <span class="pl-c1">external_id:</span> <span class="pl-s"><span class="pl-pds">"</span><span class="pl-pds">"</span></span>,
      <span class="pl-c1">ledger_id:</span> <span class="pl-c1">nil</span>
    }
  }
}
}</pre></div>
              <p>The serialization of any object follows the same structure. There is a <code>:root</code> key that holds the ID of the root object. There is also an <code>:objects</code> hash that contains all of the objects for this serialization. As you
                can see, unique nested objects listed in the <code>:objects</code> hash and referenced using a "reference object", in this case:</p>
              <div class="highlight highlight-source-ruby"><pre>{
<span class="pl-c1">object:</span> <span class="pl-s"><span class="pl-pds">"</span>reference<span class="pl-pds">"</span></span>,
<span class="pl-c1">id:</span> <span class="pl-s"><span class="pl-pds">"</span>LedgerSync::Customer/b3eab7ec00431a4ae0468fee72e5ba8f<span class="pl-pds">"</span></span>
}</pre></div>
              <h2>
                <a id="user-content-testing" class="anchor" href="#testing" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Testing</h2>
              <p>LedgerSync offers a test adaptor <code>LedgerSync::Adaptors::Test::Adaptor</code> that you can easily use and stub without requiring API requests. For example:</p>
              <div class="highlight highlight-source-ruby"><pre>
operation <span class="pl-k">=</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Adaptors</span>::<span class="pl-c1">Test</span>::<span class="pl-c1">Customer</span>::<span class="pl-c1">Operations</span>::<span class="pl-c1">Create</span>.<span class="pl-k">new</span>(
<span class="pl-c1">adaptor:</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Adaptors</span>::<span class="pl-c1">Test</span>::<span class="pl-c1">Adaptor</span>.<span class="pl-k">new</span>,
<span class="pl-c1">resource:</span> <span class="pl-c1">LedgerSync</span>::<span class="pl-c1">Customer</span>.<span class="pl-k">new</span>(<span class="pl-c1">name:</span> <span class="pl-s"><span class="pl-pds">'</span>Test Customer<span class="pl-pds">'</span></span>)
)

expect(operation).to be_valid

result <span class="pl-k">=</span> operation.perform
expect(result).to be_a(<span class="pl-c1">LedgerSync</span>::<span class="pl-c1">OperationResult</span>::<span class="pl-c1">Success</span>)
expect(result).to be_success

expect { operation.perform }.to raise_error(<span class="pl-c1">PerformedOperationError</span>)</pre></div>
              <h2>
                <a id="user-content-development" class="anchor" href="#development" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Development</h2>
              <p>After checking out the repo, run <code>bin/setup</code> to install dependencies. Then, run <code>rake spec</code> to run the tests. You can also run <code>bin/console</code> for an interactive prompt that will allow you to experiment.</p>
              <p>To install this gem onto your local machine, run <code>bundle exec rake install</code>. To release a new version, update the version number in <code>version.rb</code>, and then run <code>bundle exec rake release</code>, which will create
                a git tag for the version, push git commits and tags, and push the <code>.gem</code> file to <a href="https://rubygems.org" rel="nofollow">rubygems.org</a>.</p>
              <p>Run <code>bundle console</code> to start and interactive console with the library already loaded.</p>
              <h2>
                <a id="user-content-deployment" class="anchor" href="#deployment" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Deployment</h2>
              <p>To deploy a new version of the gem to RubyGems, you can use the <code>release.sh</code> script in the root. The script takes advantage of <a href="https://github.com/gregorym/bump">the bump gem</a>. So you may call the script using any of
                the following:</p>
              <div class="highlight highlight-source-shell"><pre><span class="pl-c"><span class="pl-c">#</span> Version Format: MAJOR.MINOR.PATCH</span>
./release.sh patch <span class="pl-c"><span class="pl-c">#</span> to bump X in 1.1.X</span>
./release.sh minor <span class="pl-c"><span class="pl-c">#</span> to bump X in 1.X.1</span>
./release.sh major <span class="pl-c"><span class="pl-c">#</span> to bump X in X.1.1</span></pre></div>
              <h1>
                <a id="user-content-site" class="anchor" href="#site" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Site</h1>
              <p>The site is viewable at: <a href="https://ledgersync.github.io" rel="nofollow">ledgersync.github.io</a>.</p>
              <p>Our marketing and documentation exist in the <code>/site</code> directory using <a href="https://gohugo.io/" rel="nofollow">Hugo</a>. To get started, you will need to install hugo:</p>
              <p><code>brew install hugo</code></p>
              <p>Once installed, you can deploy changes by running <code>./site/deploy.sh "COMMIT MESSAGE"</code>. The site public is generated and pushed to <a href="https://github.com/LedgerSync/ledgersync.github.io">the dedicated site repository</a>.
                Once deployed, the changes will be immediately reflected.</p>
              <h2>
                <a id="user-content-tips" class="anchor" href="#tips" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Tips</h2>
              <p>If you want to convert markdown (e.g. this README) to HTML, you can use <a href="https://github.com/joeyespo/grip">grip</a>:</p>
              <div class="highlight highlight-source-shell"><pre>grip README.md --export</pre></div>
              <h3>
                <a id="user-content-contributing" class="anchor" href="#contributing" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Contributing</h3>
              <p>Bug reports and pull requests are welcome on GitHub at <a href="https://github.com/LedgerSync/ledger_sync">https://github.com/LedgerSync/ledger_sync</a>. This project is intended to be a safe, welcoming space for collaboration, and contributors
                are expected to adhere to the <a href="http://contributor-covenant.org" rel="nofollow">Contributor Covenant</a> code of conduct.</p>
              <h3>
                <a id="user-content-license" class="anchor" href="#license" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>License</h3>
              <p>The gem is available as open source under the terms of the <a href="https://opensource.org/licenses/MIT" rel="nofollow">MIT License</a>.</p>
              <h3>
                <a id="user-content-code-of-conduct" class="anchor" href="#code-of-conduct" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Code of Conduct</h3>
              <p>Everyone interacting in the LedgerSync project’s codebases, issue trackers, chat rooms and mailing lists is expected to follow the <a href="https://github.com/LedgerSync/ledger_sync/blob/master/CODE_OF_CONDUCT.md">code of conduct</a>.</p>
              <h2>
                <a id="user-content-maintainers" class="anchor" href="#maintainers" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Maintainers</h2>
              <p>A huge thank you to our maintainers:</p>
              <ul>
                <li>
                  <a href="https://github.com/ryanwjackson">@ryanwjackson</a>
                </li>
                <li>
                  <a href="https://github.com/jozefvaclavik">@jozefvaclavik</a>
                </li>
                <li>
                  And the whole <a href="https://moderntreasury.com">Modern Treasury</a> team
                </li>
              </ul>

            </article>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div>&nbsp;</div>
</div>

{{ end }}