/**
 * Posts and Pages
 */
.post {
  margin-bottom: 2.5em;
}

.post-full {
  &:last-child {
    margin-bottom: 5em;
  }
}

.page-header,
.post-full .post-header {
  color: #fff;
  padding-bottom: 9.5em;
  padding-top: 3.75em;
  position: relative;
  text-align: center;

  .inner-sm {
    position: relative;
  }
}

.page-title,
.post-full .post-title {
  color: inherit;
  font-size: 3em;
  margin: 0;
  position: relative;
}

.page-subtitle,
.post-subtitle {
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0.5em 0 0;
  position: relative;
}

.post-title {
  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(meta);
    }
  }
}

.post-meta {
  color: _palette(meta);
  font-size: 0.875em;
  margin: 0 0 0.5em;
}

.post-thumbnail {
  border: 0;
  border-radius: 5px 5px 0 0;
  display: block;
  margin: 0;

  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
}

.post-full .post-content,
.post-feed {
  margin-top: -5em;
  position: relative;
}

.post-full .post-content,
.post-feed .post {
  background: #fff;
  border: 1px solid _palette(border);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.post-full {
  .post-content {
    padding: 2.5em 7%;
  }

  .post-meta {
    color: inherit;
    font-size: 1.125rem;;
  }
}

.post-feed {
  &:last-child {
    margin-bottom: 5em;
  }

  .post {
    padding: 0 0 2.5em;
  }

  .post-header {
    margin: 0 0 1.25em;
    padding-top: 1.875em;
  }

  .post-meta,
  .post-title,
  .post-excerpt,
  .read-more {
    padding-left: 7%;
    padding-right: 7%;
  }

  .post-title {
    font-size: 1.5em;
    margin: 0;
  }

  .post-excerpt {
    margin-bottom: 1.125em;
  }

  .read-more {
    margin: 0;
  }

  .read-more-link {
    border: 0;
    color: _palette(accent);

    &:after {
      font-size: 1.125em;
      content: "\2192";
      line-height: 1.5;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .post {
    margin-bottom: 3vw;
  }
}

@media only screen and (max-width: 640px) {
  .page-title,
  .post-full .post-title {
    font-size: 2.25rem;
  }

  .post-full .post-content,
  .post-feed .post-meta,
  .post-feed .post-title,
  .post-feed .post-excerpt,
  .post-feed .read-more {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}